apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2 # or gp3 (recommended)
  resources:
    requests:
      storage: 10Gi
