apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: webapps
type: Opaque
data:
  MYSQL_ROOT_PASSWORD:
  MYSQL_DATABASE: irctcdbcm9vdHBhc3N3b3Jk
  MYSQL_USER: aXJjdGN1c2Vy
  MYSQL_PASSWORD: aXJjdGNwYXNz
