apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: webapps
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: rootpassword
  MYSQL_DATABASE: irctcdb
  MYSQL_USER: aXJjdGN1c2Vy
  MYSQL_PASSWORD: aXJjdGNwYXNz
